{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "sound": "Unset"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "sound",
      "b": "solid",
      "r": "Collide"
    }
  ],
  "__guid": "f0c4deb4-d056-490b-b4b3-d2696e889cba",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}